# Lab | Not Hot Songs

### Gather the songs

In [1]:
import pandas as pd

We download database from page https://freemusicarchive.org/ and scan the database to select the artist and song information

In [2]:
df = pd.read_csv("raw_tracks.csv")

In [3]:
df.columns

Index(['track_id', 'album_id', 'album_title', 'album_url', 'artist_id',
       'artist_name', 'artist_url', 'artist_website', 'license_image_file',
       'license_image_file_large', 'license_parent_id', 'license_title',
       'license_url', 'tags', 'track_bit_rate', 'track_comments',
       'track_composer', 'track_copyright_c', 'track_copyright_p',
       'track_date_created', 'track_date_recorded', 'track_disc_number',
       'track_duration', 'track_explicit', 'track_explicit_notes',
       'track_favorites', 'track_file', 'track_genres', 'track_image_file',
       'track_information', 'track_instrumental', 'track_interest',
       'track_language_code', 'track_listens', 'track_lyricist',
       'track_number', 'track_publisher', 'track_title', 'track_url'],
      dtype='object')

In [4]:
df = df[["artist_name", "track_title"]]
df

             artist_name                                track_title
0                   AWOL                                       Food
1                   AWOL                               Electric Ave
2                   AWOL                                 This World
3              Kurt Vile                                    Freeway
4             Nicky Cook                            Spiritual Level
...                  ...                                        ...
109722           Spowder                                  The Auger
109723           Spowder                            Let's Skin Ruby
109724           Spowder         My House Smells Like Kim Deal/Pulp
109725           Spowder                    The Man With Two Mouths
109726  Forget the Whale  Another Trick Up My Sleeve (Instrumental)

[109727 rows x 2 columns]

Because the original database it has more than 109 thousand records, we randomly select 3,000 and with that we build the base that we call not_hotsongs

In [5]:
not_hotsongs = df.sample(n=3000, random_state=42)
not_hotsongs

,artist_name,track_title
40179,Melaena Cadiz,Needles River
43011,johnny_ripper,sleep
86830,aaron yabrov,pendulum
43126,John Hyatt and M4SK 22,Frost on my Window
69127,LIL and Sin Senal,Uninstall
...,...,...
105832,Sonic Avenues,Defective
86745,Dirty Fences,White Lies
35556,Les Filles et les Garçons,I Sing Despair
87269,Bennett / Bravo / Mehrl / Olivera / Taveira / ...,Descubrimiento del fuego
97001,Cellar Dweller,Chopditt

In [6]:
not_hotsongs.isna().sum()

artist_name    0
track_title    0
dtype: int64

We import the top_100.csv file, to compare it with the not_hotsongs dataframe and verify that the songs are not duplicated.

In [7]:
top_100 = pd.read_csv("top_100.csv")
top_100

,Unnamed: 0,chart_no,song,artist
0,0,1,Last Night,Morgan Wallen
1,1,2,Kill Bill,SZA
2,2,3,Flowers,Miley Cyrus
3,3,4,Ella Baila Sola,Eslabon Armado X Peso Pluma
4,4,5,Un x100to,Grupo Frontera X Bad Bunny
...,...,...,...,...
95,95,96,It Matters To Her,Scotty McCreery
96,96,97,Like Crazy,Jimin
97,97,98,All Of The Girls You Loved Before,Taylor Swift
98,98,99,5 Leaf Clover,Luke Combs
99,99,100,Big Truck,YoungBoy Never Broke Again

To be able to compare both dataframes we homologate the titles of the columns of not_hotsongs dataframe.

In [8]:
def not_hotsongs1 (df):
    df=df.rename(columns={'track_title': 'song','artist_name': 'artist',})
    return df
not_hotsongs1 = not_hotsongs1(not_hotsongs)

In [9]:
not_hotsongs1

,artist,song
40179,Melaena Cadiz,Needles River
43011,johnny_ripper,sleep
86830,aaron yabrov,pendulum
43126,John Hyatt and M4SK 22,Frost on my Window
69127,LIL and Sin Senal,Uninstall
...,...,...
105832,Sonic Avenues,Defective
86745,Dirty Fences,White Lies
35556,Les Filles et les Garçons,I Sing Despair
87269,Bennett / Bravo / Mehrl / Olivera / Taveira / ...,Descubrimiento del fuego
97001,Cellar Dweller,Chopditt

### Remove songs already present in the hot_songs dataset

In [10]:
#find the matching rows
matches = pd.merge(top_100, not_hotsongs1, on=['song','artist'])

# keep only the non-matching rows in top_100
top_100 = top_100[~top_100.set_index(['song','artist']).index.isin(matches.set_index(['song','artist']).index)]

# display the modified df not_hotsongs1
top_100

,Unnamed: 0,chart_no,song,artist
0,0,1,Last Night,Morgan Wallen
1,1,2,Kill Bill,SZA
2,2,3,Flowers,Miley Cyrus
3,3,4,Ella Baila Sola,Eslabon Armado X Peso Pluma
4,4,5,Un x100to,Grupo Frontera X Bad Bunny
...,...,...,...,...
95,95,96,It Matters To Her,Scotty McCreery
96,96,97,Like Crazy,Jimin
97,97,98,All Of The Girls You Loved Before,Taylor Swift
98,98,99,5 Leaf Clover,Luke Combs
99,99,100,Big Truck,YoungBoy Never Broke Again

In [11]:
not_hotsongs1

,artist,song
40179,Melaena Cadiz,Needles River
43011,johnny_ripper,sleep
86830,aaron yabrov,pendulum
43126,John Hyatt and M4SK 22,Frost on my Window
69127,LIL and Sin Senal,Uninstall
...,...,...
105832,Sonic Avenues,Defective
86745,Dirty Fences,White Lies
35556,Les Filles et les Garçons,I Sing Despair
87269,Bennett / Bravo / Mehrl / Olivera / Taveira / ...,Descubrimiento del fuego
97001,Cellar Dweller,Chopditt

In [12]:
# merge the two datasets on all columns
merged_df = pd.merge(top_100, not_hotsongs1, how='inner', indicator=True)

# check if there are any common rows
if merged_df.empty:
    print('There are no common rows between the two datasets.')
else:
    print('There are common rows between the two datasets.')

There are no common rows between the two datasets.

We save the second dataframe with the not_hotsongs.

In [13]:
not_hotsongs1.to_csv("not_hot_songs1.csv")